PORT=8080
POSTGRES_DB=postgres
DBHost=localhost
DB_PORT=5433
DB_USER=postgres
DB_PASSWORD=postgres
OPENWEATHERMAP_API_KEY=your_api_key_here
OPENWEATHERMAP_BASE_URL=https://api.openweathermap.org
WEATHER_CACHE_TTL_SECONDS=600
API_SECRET_KEY=your_secret_key_here