PORT=8080
POSTGRES_DB=postgres
DBHost=localhost
DB_PORT=5433
DB_USER=your_user
DB_PASSWORD=your_password
OPENWEATHERMAP_API_KEY=your_api_key_from_openweather
OPENWEATHERMAP_BASE_URL=https://api.openweathermap.org
WEATHER_CACHE_TTL_SECONDS=600
API_SECRET_KEY=your_secret_api